/* <============ DEFAULT ============> */
* {
	-fx-text-color: #424242;

	-fx-theme-color: #ff9100;
	-fx-theme-icon-color: #a33a01;
	-fx-theme-highlight-color: #ff6d00;
	-fx-theme-background-color: #fafafa;
	-fx-theme-border-color: #cccccc;

	-fx-default-color: #6c757d;
	-fx-default-text-color: #ffffff;

	-fx-primary-color: #2980B9;
	-fx-primary-text-color: #ffffff;

	-fx-danger-color: #dc3545;
	-fx-danger-text-color: #ffffff;

	-fx-success-color: #28a745;
	-fx-success-text-color: #ffffff;
}

.root {
	-fx-font-size: 14px;
	-fx-font-family: "Segoe UI Semibold";
	-fx-background-color: -fx-theme-background-color;
	-fx-text-fill: -fx-text-color;
}

/* BUTTONS */
.button {
	-fx-padding: 7 20 7 20;
}

.button:disabled {
	-fx-opacity: 0.4;
}

.button,
.button-sm {
	-fx-padding: 7 20 7 20;
	-fx-text-fill: -fx-default-text-color;
	-fx-background-color:-fx-default-color;
}

.button:hover,
.button:pressed,
.button-sm:hover,
.button-sm:pressed {
	-fx-background-color: derive(-fx-default-color, 20%);
}

.button-primary,
.button-primary-sm {
	-fx-text-fill: -fx-primary-text-color;
	-fx-background-color: -fx-primary-color;
}

.button-primary:hover,
.button-primary:pressed,
.button-primary-sm:hover,
.button-primary-sm:pressed {
	-fx-background-color: derive(-fx-primary-color, 20%);
}

.button-danger,
.button-danger-sm {
	-fx-text-fill: -fx-danger-text-color;
	-fx-background-color: -fx-danger-color;
}

.button-danger:hover,
.button-danger:pressed,
.button-danger-sm:hover,
.button-danger-sm:pressed {
	-fx-background-color: derive(-fx-danger-color, 20%);
}

.button-success,
.button-success-sm {
	-fx-text-fill: -fx-success-text-color;
	-fx-background-color: -fx-success-color;
}

.button-success:hover,
.button-success:pressed,
.button-success-sm:hover,
.button-success-sm:pressed {
	-fx-background-color: derive(-fx-success-color, 20%);
}

.button-sm,
.button-primary-sm,
.button-danger-sm,
.button-success-sm {
	-fx-font-size: 12px;
	-fx-padding: 4 10 4 10;
}

/* LABELS */
.label {
  -fx-opacity: 0.7;
}

.label-header {
	-fx-font-size: 28px;
	-fx-opacity: 1;
}

.label-h6 {
	-fx-font-size: 16px;
	-fx-opacity: 1;
}

/* RADIO */
.radio-button {
	-fx-text-fill: -fx-text-color;
}

/* TEXT FIELDS */
.text-field {
	-fx-padding: 8 8 8 8;
}
/* <============ DEFAULT ============> */



/* <============ HELPERS ============> */
.header-view {
	-fx-padding: 0 0 16 0;
	-fx-border-width: 0 0 2 0;
	-fx-border-color: transparent transparent -fx-theme-border-color transparent;
}

.list-item {
	-fx-padding: 0 0 10 0;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: transparent transparent derive(-fx-theme-border-color, 50%) transparent;
}
/* <============ HELPERS ============> */



/* <============ LOGIN VIEW ============> */
.sidebar-login {
  -fx-background-color: -fx-theme-color;
}
/* <============ LOGIN VIEW ============> */



/* <============ MENU VIEW ============> */
.sidebar-menu {
	-fx-background-color: -fx-theme-color;
}

.sidebar-menu .button {
	-fx-pref-width: 100px;
	-fx-padding: 10 20 10 20;
	-fx-font-size: 12px;
	-fx-background-color: transparent;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: transparent transparent -fx-theme-highlight-color transparent;
}

.sidebar-menu .button .ikonli-font-icon {
	-fx-icon-color: -fx-theme-icon-color;
}

.sidebar-menu .button:hover,
.sidebar-menu .button:pressed {
	-fx-background-color: -fx-theme-highlight-color;
}
/* <============ MENU VIEW ============> */



















/*
.table-view {
	-fx-base: #1d1d1d;
	-fx-control-inner-background: #1d1d1d;
	-fx-background-color: #1d1d1d;
	-fx-table-cell-border-color: transparent;
	-fx-table-header-border-color: transparent;
	-fx-padding: 5;
}

.table-view .column-header-background {
	-fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
	-fx-size: 35;
	-fx-border-width: 0 0 1 0;
	-fx-background-color: transparent;
	-fx-border-color:
			transparent
			transparent
			derive(-fx-base, 80%)
			transparent;
	-fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
	-fx-font-size: 20pt;
	-fx-font-family: "Segoe UI Light";
	-fx-text-fill: white;
	-fx-alignment: center-left;
	-fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
	-fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
	-fx-border-color: transparent #1d1d1d transparent #1d1d1d;
	-fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
	-fx-padding: 1 0 0 0;
}

.menu-bar {
	-fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
	-fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
	-fx-font-size: 14pt;
	-fx-font-family: "Segoe UI Light";
	-fx-text-fill: white;
	-fx-opacity: 0.9;
}

.menu .left-container {
	-fx-background-color: black;
}

.text-field {
	-fx-font-size: 12pt;
	-fx-font-family: "Segoe UI Semibold";
}
*/
