/* <============ DEFAULT ============> */
* {
	-fx-text-color: #424242;

	-fx-theme-color: #ff9100;
	-fx-theme-icon-color: #a33a01;
	-fx-theme-highlight-color: #ff6d00;
	-fx-theme-background-color: #fafafa;
	-fx-theme-border-color: #cccccc;

	-fx-default-color: #6c757d;
	-fx-default-text-color: #ffffff;

	-fx-primary-color: #2980B9;
	-fx-primary-text-color: #ffffff;

	-fx-danger-color: #dc3545;
	-fx-danger-text-color: #ffffff;

	-fx-success-color: #28a745;
	-fx-success-text-color: #ffffff;
}

.root {
	-fx-font-size: 14px;
	-fx-font-family: "Segoe UI Semibold";
	-fx-background-color: -fx-theme-background-color;
	-fx-text-fill: -fx-text-color;
}

/* BUTTONS */
.button {
	-fx-padding: 7 20 7 20;
}

.button:disabled {
	-fx-opacity: 0.4;
}

.button,
.button-sm {
	-fx-padding: 7 20 7 20;
	-fx-text-fill: -fx-default-text-color;
	-fx-background-color:-fx-default-color;
}

.button:hover,
.button:pressed,
.button-sm:hover,
.button-sm:pressed {
	-fx-background-color: derive(-fx-default-color, 20%);
}

.button-primary,
.button-primary-sm {
	-fx-text-fill: -fx-primary-text-color;
	-fx-background-color: -fx-primary-color;
}

.button-primary:hover,
.button-primary:pressed,
.button-primary-sm:hover,
.button-primary-sm:pressed {
	-fx-background-color: derive(-fx-primary-color, 20%);
}

.button-danger,
.button-danger-sm {
	-fx-text-fill: -fx-danger-text-color;
	-fx-background-color: -fx-danger-color;
}

.button-danger:hover,
.button-danger:pressed,
.button-danger-sm:hover,
.button-danger-sm:pressed {
	-fx-background-color: derive(-fx-danger-color, 20%);
}

.button-success,
.button-success-sm {
	-fx-text-fill: -fx-success-text-color;
	-fx-background-color: -fx-success-color;
}

.button-success:hover,
.button-success:pressed,
.button-success-sm:hover,
.button-success-sm:pressed {
	-fx-background-color: derive(-fx-success-color, 20%);
}

.button-sm,
.button-primary-sm,
.button-danger-sm,
.button-success-sm {
	-fx-font-size: 12px;
	-fx-padding: 4 10 4 10;
}


.button .ikonli-font-icon,
.button-sm .ikonli-font-icon,
.button-primary .ikonli-font-icon,
.button-primary-sm .ikonli-font-icon,
.button-danger .ikonli-font-icon,
.button-danger-sm .ikonli-font-icon,
.button-success .ikonli-font-icon,
.button-success-sm .ikonli-font-icon {
	-fx-icon-color: #FFFFFF;
}

/* LABELS */
.label {
  -fx-opacity: 0.7;
}

.label-header {
	-fx-font-size: 28px;
	-fx-opacity: 1;
}

.label-h6 {
	-fx-font-size: 16px;
	-fx-opacity: 1;
}

/* RADIO */
.radio-button {
	-fx-text-fill: -fx-text-color;
}

/* TEXT FIELDS */
.text-field {
	-fx-padding: 8 8 8 8;
}

/* TOGGLE SWITCH */
.toggle-switch:disabled {
	-fx-opacity: 0.3;
}
/* <============ DEFAULT ============> */



/* <============ HELPERS ============> */
.header-view {
	-fx-padding: 0 0 16 0;
	-fx-border-width: 0 0 2 0;
	-fx-border-color: transparent transparent -fx-theme-border-color transparent;
}

.list-item {
	-fx-padding: 0 0 10 0;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: transparent transparent derive(-fx-theme-border-color, 50%) transparent;
}

.list-item-card {
	-fx-background-color: #DDDDDD;
	-fx-background-radius: 5.0;
	-fx-padding: 10 10 10 10;
}

.list-item-card-nested {
	-fx-background-color: #EEEEEE;
	-fx-background-radius: 5.0;
	-fx-padding: 10 10 10 10;
}

.room-item-card {
	-fx-background-color: #c2e6ff;
}

.face-item-card {
	-fx-background-color: #d9cbf9;
}

.component-item-card {
	-fx-background-color: #c1f8f1;
}

.component-material-item-card {
	-fx-background-color: #DDDDDD;
}
/* <============ HELPERS ============> */



/* <============ LOGIN VIEW ============> */
.sidebar-login {
  -fx-background-color: -fx-theme-color;
}
/* <============ LOGIN VIEW ============> */



/* <============ MENU VIEW ============> */
.sidebar-menu {
	-fx-background-color: -fx-theme-color;
}

.sidebar-menu .button {
	-fx-pref-width: 100px;
	-fx-padding: 10 20 10 20;
	-fx-font-size: 12px;
	-fx-background-color: transparent;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: transparent transparent -fx-theme-highlight-color transparent;
}

.sidebar-menu .button .ikonli-font-icon {
	-fx-icon-color: -fx-theme-icon-color;
}

.sidebar-menu .button:hover,
.sidebar-menu .button:pressed {
	-fx-background-color: -fx-theme-highlight-color;
}
/* <============ MENU VIEW ============> */



/* <============ SCROLL PANE ============> */
.scroll-pane {
	-fx-background-color: transparent;
}
.scroll-pane > .viewport {
  -fx-background-color: transparent;
}
/* <============ SCROLL PANE ============> */
